name: Build Translation DLL

on:
  push:
    branches: [ "main" ]
    paths:
      - '**/*.rc'
      - '**/*.cpp'
      - '**/*.h'
      - '**/*.vcxproj'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - platform: x64
            output_path: x64/Release/foo_traycontrols.dll
          - platform: Win32
            output_path: Release/foo_traycontrols.dll
    name: Build ${{ matrix.platform }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build Project
      run: msbuild foo_traycontrols.vcxproj /p:Configuration=Release /p:Platform=${{ matrix.platform }}

    - name: Upload DLL Artifact
      uses: actions/upload-artifact@v4
      with:
        name: foo_traycontrols_${{ matrix.platform }}
        path: ${{ matrix.output_path }}
        if-no-files-found: error